# IDE
.vscode/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
!lib/runtime.o
!lib/crt1.o
!lib/crti.o
!lib/crtn.o
!lib/Scrt1.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
!lib/libc.a
*.lib

# Executables
latc_x86

# Tests output
*.s
!lib/runtime.s
